/* Fonts */
@font-face {
  font-family: "BNRoute22";
  src: url("./assets/BNRoute22.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
body {
  --background-light: #e8e8e8;
  --background-dark: #3b3e51;
  --element-background-light: #f3f3f3;
  --element-background-dark: #313444;
  --text-light: #000;
  --text-dark: #fff;
  --heading-light: #343890;
  --heading-dark: #6066e8;
  --highlight-light: #ff407b;
  --highlight-dark: #1af1ff;
  --meta-light: #535353;
  --meta-lighter: #787878;
  --meta-dark: #c4c4c4;
  --meta-darker: #9b9b9b;
  --border-light: #d0d0d0;
  --border-dark: #4f4f4f;
  --shadow-light: #dbd2db;
  --shadow-dark: #1d292c;

  --content-max-width: 45rem;

  min-height: 100vh;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  transition: 0.2s background;
  transition: 0.2s background-color;
}

/* Global styles */
a {
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 101%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: 0.2s color ease-in-out;
  transition: 0.2s background ease-in-out;
  transition: background-size 0.2s;
}

a:hover, a:focus {
  background-size: 100% 1px;
}

h1 {
  font-family: "BNRoute22", sans-serif;
  font-size: 3.5rem;
  line-height: 3.75rem;
  margin-top: 0;
  text-transform: none;
}

h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: 0.015em;
  line-height: 1.25em;
}

nav a {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

pre {
  overflow-x: scroll;
}

#app {
  font-family: "PT Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  line-height: 1.5em;
}

button {
  font-family: "PT Mono", monospace;
  transition: 0.2s background-color;
}

/* Theme styles */
body.light {
  background: var(--background-light);

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  li,
  button {
    color: var(--text-light);
  }

  a,
  a:active {
    color: var(--highlight-light);
  }

  a:hover {
    color: var(--highlight-light);
  }

  .logo path {
    fill: var(--highlight-light);
  }
}

body.dark {
  background: var(--background-dark);

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  li,
  button {
    color: var(--text-dark);
  }

  a,
  a:active {
    color: var(--highlight-dark);
  }

  a:hover {
    color: var(--highlight-dark);
  }

  .logo path {
    fill: var(--highlight-dark);
  }
}
