/* Fonts */
@font-face {
  font-family: "Gerion";
  src: url("./assets/Gerion.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
body {
  --background-light: #fff;
  --background-dark: #2f313f;
  --text-light: #000;
  --text-dark: #fff;
  --highlight-light: #ff407b;
  --highlight-dark: #1af1ff;
  --meta-light: #878787;
  --meta-dark: #aaa;
  --faded-light: #d0d0d0;
  --faded-dark: #484848;

  min-height: 100vh;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  transition: 0.2s background-color;
}

/* Global styles */
a {
  text-decoration: none;
  transition: 0.2s color ease-in-out;
  transition: 0.2s background ease-in-out;
  transition: text-shadow ease-in .1s;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2em;
  line-height: 1.25em;
  text-transform: uppercase;
}

nav a {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

pre {
  overflow-x: scroll;
}

#app {
  font-family: "PT Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  line-height: 1.5em;
}

button {
  font-family: "PT Mono", monospace;
  transition: 0.2s background-color;
}

/* Theme styles */
body.light {
  background: linear-gradient(to bottom, var(--background-light), #e9e9e9);

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  li,
  button {
    color: var(--text-light);
  }

  a,
  a:active {
    color: var(--highlight-light);
  }

  a:hover {
    font-weight: bold;
    color: var(--highlight-light);
    text-shadow: 3px 3px var(--highlight-dark);
  }

  .logo path {
    fill: var(--highlight-light);
  }

  .categories {
    color: var(--text-light);
  }

  button.category:hover {
    color: var(--text-dark);
    background-color: var(--meta-dark);
  } 

  button.category.active {
    color: var(--text-dark);
    background-color: var(--highlight-light);
  }
}

body.dark {
  background: linear-gradient(to bottom, var(--background-dark), #24262e);

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  li,
  button {
    color: var(--text-dark);
  }

  a,
  a:active {
    color: var(--highlight-dark);
  }

  a:hover {
    font-weight: bold;
    color: var(--highlight-dark);
    text-shadow: 3px 3px var(--highlight-light);
  }

  .logo path {
    fill: var(--highlight-dark);
  }

  .categories {
    color: var(--text-dark);
  }

  button.category:hover {
    color: var(--text-light);
    background-color: var(--meta-light);
  }

  .categories button.active {
    color: var(--text-light);
    background-color: var(--highlight-dark);
  }
}
